.projects {
    margin-top: 1.3rem;
}

.project-tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: lightgray;
    width: 50%;
    margin: 0 auto;
    gap: 1rem;
    padding: .7rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.tab-btn {
    flex: 1;
    width: 100%;
    border: none;
    outline: none;
    padding: .7rem;
    font-size: 18px;
    border-radius: 0.75rem;
    cursor: pointer;
    background-color: transparent;
    transition: .3s;
}

.tab-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    background-color: white;
}

.project-tab-active {
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    background-color: white;
}

.tab-content {
    display: none;
}

.project-tab-active[data-content] {
    display: flex;
}

.tab-content-active[data-content] {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tab-projects {
    display: flex;
    gap: 2.2rem;
}

.project-card {
    margin-top: -1.5rem;
}

.tab-title {
    font-size: 1.7rem;
    margin-top: 2rem;
}

.tab-title::before {
    content: '{';
    position: relative;
    left: -.5rem;
}

.tab-title::after {
    content: '}';
    position: relative;
    right: -.5rem;
}

.project-img>img {
    height: clamp(25rem, 30vw, 30rem);
    width: clamp(25rem, 30vw, 30rem);
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.project-name {
    position: relative;
    background: #fdbd4a;
    padding: 0.2rem 1.2rem;
    border-radius: 5px 0 0 5px;
    top: 6rem;
    left: 2rem;
    width: 95%;
}

.project-name p {
    margin: 0;
    padding-top: .4rem;
    display: flex;
    font-size: 1.7rem;
    font-weight: 500;
}

.project-name div {
    position: absolute;
    bottom: -23px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 13px solid #c58102;
    border-bottom: 10px solid transparent;
    border-right: 13px solid transparent;
    z-index: -6;
}

.project-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    bottom: 5.3rem;
    background: rgba(255, 255, 255, 0.41);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px 0px 10px 10px;
    gap: 2rem;
    visibility: hidden;
}

.project-card:hover .project-links {
    visibility: visible;
}

.link-btn {
    border: none;
    outline: none;
    padding: 0.5rem 0.7rem;
    font-size: 18px;
    border-radius: 0.75rem;
    cursor: pointer;
    background-color: transparent;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .project-tabs {
        width: 80%;
    }

    .tab-projects {
        flex-direction: column;
        gap: 0;
    }

    .project-card {
        margin-bottom: -2rem;
    }
}