.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 3rem;
    gap: 5rem;
    color: rgb(219, 219, 219);
}

.header-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    font-size: clamp(2rem, 3vw, 3rem);
    margin-left: 5rem;
    position: relative;
    left: 5rem;
    top: 3rem;
}

.header-subtitle {
    color: #5af05a;
}

.header-text {
    font-size: clamp(2.7rem, 5vw, 5rem);
    line-height: clamp(3rem, 5.5vw, 5.5rem);
}

.secondary-text {
    color: rgb(122 136 148);
}

.secondary-text::before {
    content: '<';
    position: relative;
    left: -.5rem;
}

.secondary-text::after {
    content: '>';
    position: relative;
    right: -.5rem;
}

.header-border {
    border: 5px solid rgb(74 184 67);
    justify-self: center;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 0.75rem;
}

.header-img {
    width: 100%;
    position: relative;
    display: inline-block;
    z-index: -2;
}

.img-face {
    position: absolute;
    transform: rotateX(-48deg) rotateY(10deg) rotateZ(45deg);
    transform-style: preserve-3d;
    top: -3rem;
}

.img-face::after {
    box-shadow: inset 0px 0px 0px 5px #bbbbbb;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.img-face>img {
    display: block;
    width: 30rem;
}

.img-shadow {
    position: absolute;
    top: -3rem;
    width: 31rem;
    height: 30rem;
    background: transparent;
    transform: rotateX(-48deg) rotateY(10deg) rotateZ(45deg);
    transform-style: preserve-3d;
    box-shadow: 35px 35px 20px rgb(122 136 148);
}

.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    bottom: -8rem;
}

.header-download-btn {
    position: relative;
    display: flex;
    width: 12rem;
    height: 48px;
    align-items: center;
    appearance: none;
    background-color: rgb(188 201 213);
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #81818f 0 -3px 0 inset;
    box-sizing: border-box;
    color: #30313b;
    cursor: pointer;
    line-height: 1;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: clamp(1rem, 1.2vw, 1.2rem);
}

.header-download-btn,
.download-icon,
.download-text {
    transition: all 0.3s;
}

.header-download-btn .download-text {
    transform: translateX(22px);
}

.header-download-btn .download-icon {
    position: absolute;
    transform: translateX(153px);
    height: 100%;
    width: 39px;
    background-color: #00ff1763;
    color: #48007d;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-download-btn:hover {
    background: #17795E;
}

.header-download-btn:hover .download-text {
    color: transparent;
}

.header-download-btn:hover .download-icon {
    width: 100%;
    transform: translateX(0);
}

.header-download-btn:active .download-icon {
    background-color: #146c54;
}

.header-download-btn:active {
    border: 1px solid #146c54;
}

.header-socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.top-blur {
    width: 22rem;
    height: 22rem;
    right: 0;
    z-index: -1;
}

.bottom-blur {
    width: 17rem;
    height: 17rem;
    top: 20rem;
    left: 0;
}

@media (max-width: 768px) {
    .header-img {
        opacity: .1;
    }

    .header-content {
        margin: 0;
    }
}

@media (max-width: 600px) {
    .header {
        padding: 3rem;
    }

    .header-content {
        left: 0;
        margin: 0;
    }

    .header-img {
        position: absolute;
    }

    .img-face>img {
        filter: saturate(0%) contrast(100%) hue-rotate(10deg) drop-shadow(1px 20px 10px rgba(0, 0, 0, .3));
    }
}