.header {
    position: relative;
    padding-top: 3.5rem;
}

.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-content {
    display: grid;
    text-align: center;
}

.header-title {
    font-size: 2rem;
    font-weight: 600;
}

.header-title::before {
    content: '[';
    position: relative;
    left: -1rem;
}

.header-title::after {
    content: ']';
    position: relative;
    right: -1rem;
}

.header-subtitle {
    font-size: 1.2rem;
}

.header-border {
    border: 3.5px solid lightblue;
    justify-self: center;
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 0.75rem;
}

.header-img {
    width: 150px;
    height: 150px;
    background: lightblue;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-img img {
    width: 100%;
}


.header-skills-btn {
    appearance: none;
    margin: 2rem;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    height: 48px;
    line-height: 1;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.header-skills-btn:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.header-skills-btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
}

.header-skills-btn:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
}

.header-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.header-download-btn {
    position: relative;
    display: flex;
    width: 12rem;
    height: 40px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    line-height: 1;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.header-download-btn,
.download-icon,
.download-text {
    transition: all 0.3s;
}

.header-download-btn .download-text {
    transform: translateX(22px);
}

.header-download-btn .download-icon {
    position: absolute;
    transform: translateX(153px);
    height: 100%;
    width: 39px;
    background-color: #17795E;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-download-btn:hover {
    background: #17795E;
}

.header-download-btn:hover .download-text {
    color: transparent;
}

.header-download-btn:hover .download-icon {
    width: 100%;
    transform: translateX(0);
}

.header-download-btn:active .download-icon {
    background-color: #146c54;
}

.header-download-btn:active {
    border: 1px solid #146c54;
}

.header-socials {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.linkedin-btn,
.github-btn {
    position: relative;
    transition: .4s all;
}

.linkedin-btn .linkedin-tooltip,
.github-btn .github-tooltip {
    visibility: hidden;
    width: fit-content;
    color: black;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: -2rem;
    top: -1rem;
    z-index: 1;
    transition: .1s ease-in-out;
}

.linkedin-btn .linkedin-tooltip .tooltip,
.github-btn .github-tooltip .tooltip {
    width: 6rem;
    background-color: lightgray;
    font-size: 0.7rem;
    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
    padding: 3px;
}

.linkedin-btn:hover .linkedin-tooltip,
.github-btn:hover .github-tooltip {
    transform: translateY(-1rem);
    visibility: visible;
}

.social-icon {
    height: 2rem;
    width: 2rem;
    margin-top: 3px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.skills-modal {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 999;
    background: rgba(255, 255, 255, 0.49);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body.modal-open {
    overflow: hidden;
}


.modal-content {
    width: 50%;
    background: white;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 10px 40px -5px;
    padding: 3rem;
}

.modal-close-btn {
    position: relative;
    top: -2rem;
    right: -2rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    background: lightcoral;
    font-size: 1.3rem;
    padding: 0.5rem 0.7rem;
    float: right;
    cursor: pointer;
}

.modal-title {
    display: flex;
    justify-content: center;
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-top: -1.5rem;
    font-weight: 600;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.full-row {
    grid-column: 1 / span 2;
    margin-top: 1rem;
}

.full-flex-row {
    display: flex;
}

.flex-1 {
    flex: 1;
    width: 100%;
}

.skills-title {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}


.skills-title::before {
    content: "";
    display: block;
    width: 5rem;
    border-bottom: 5px solid #f9dd94;
    position: relative;
    left: 5rem;
}

.skills-list {
    list-style: none;
}

.skills-list>li {
    display: flex;
    align-items: center;
    gap: 5px;
}