.navBar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: rgba(96, 113, 128, 0.47);
    border-bottom: 1px solid #7a8894;
}

.navBar-logo {
    height: clamp(3rem, 4vw, 4rem);
}

.navBar-btns {
    display: flex;
    gap: clamp(1.5rem, 3vw, 3rem);
    align-items: center;
}

.navBar-socials {
    display: flex;
    gap: 1rem;
}

.linkedin-btn,
.github-btn {
    border-radius: 4px;
    position: relative;
    transition: .4s all;
}

.linkedin-btn .linkedin-tooltip,
.github-btn .github-tooltip {
    visibility: hidden;
    width: fit-content;
    /* color: black; */
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: -1rem;
    bottom: -1rem;
    z-index: 1;
    transition: .1s ease-in-out;
}

.linkedin-btn .linkedin-tooltip .tooltip,
.github-btn .github-tooltip .tooltip {
    /* width: 8rem; */
    font-size: 1rem;
    font-weight: bold;
    background: rgb(122, 136, 148);
    border: 2px solid #3a3d40;
    border-radius: 4px;
    padding: 3px 1rem;
}

.linkedin-btn:hover .linkedin-tooltip,
.github-btn:hover .github-tooltip {
    transform: translateY(4rem);
    visibility: visible;
}

.social-icon {
    height: clamp(2rem, 3vw, 3rem);
    width: clamp(2rem, 3vw, 3rem);
    margin-top: 3px;
    background-color: #3d3f4a;
    color: #dbdbdb;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #4141511a 0 -3px 0 inset;
}