.App {
    height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: rgb(18, 33, 48);

}

.container {
    max-width: 968px;
}

@media screen and (min-width: 992px) {
    .container {
        margin: 0 auto;
    }
}

.app-blur {
    background: rgb(158 165 244 / 48%);
    position: absolute;
    border-radius: 50%;
    filter: blur(150px);
    z-index: -9;
}